<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<type name="Magento\Catalog\Model\Config">
	<plugin name="Bay20_BestsellerSorting::addNewSortOptions" type="Bay20\BestsellerSorting\Plugin\Config" />
</type>

 <preference for="Magento\Catalog\Block\Product\ProductList\Toolbar" type="Bay20\BestsellerSorting\Block\Filter"/>
</config>